.containerCreationBox{
    & h2{
        margin-left: 30%;
        margin-bottom: 20px;
    }

    & .form{
        width: 40%;
        margin: auto;
        margin-bottom: 20px;
        border: solid grey;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
    }

    & input{
        width: 150px;
        height: 25px;
        padding: 10px;
        margin: 10px;
    }

    & label{
        font-size: 14pt;
        margin-top: 10px;
    }

    & .boutton {
        //background: #bebebe;
        //color: black;
    }
}

.formCreationBox{
    display: flex;
    flex-direction: column;
    align-items: center
}

.share_container{
    border: solid grey;
    padding: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}