$colorActivate: #0dff15 !default;
$colorDeactivate: #ff110d !default;
$colorDelete: #ff6f00 !default;
$colorWhite: white !default;
$backgroundSelect: #f5f5f5 !default;
$colorSelect: #555 !default;
$borderColor: grey !default;
.grid_container_prestations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 25px;
    & .tabPrestations {
        box-sizing: border-box;
        border: $borderColor solid 2px;
        position: relative;
        overflow: hidden;
        border-radius: 5%;
        & .formEtatPrestation {
            display: flex;
        }
        & .detailsPrestations,
        .detailsPrestationsCateg,
        .detailsPrestationsPrix,
        .detailsPrestationsQuantite,
        {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        & .detailsPrestationsPrix {
            padding-bottom: 10px;
        }
        & .grid_item_pres_tab {
            box-sizing: border-box;
            padding: 10px;
            width: 100%;
            height: 200px;
            & img {
                border: $borderColor solid 2px;
                width: 100%;
                height: 100%;
                border-radius: 5%;
            }
        }
        & a {
            visibility: hidden;
            color: $colorWhite;
            font-size: 1em;
            position: absolute;
            top: calc( 10% - 0.5em);
            width: 100%;
            text-align: center;
        }
        margin-bottom: 5px;
        width: 100%;
        & button {
            cursor: pointer;
            & i {
                color: $colorWhite;
            }
        }
        & #activatePrestation {
            background-color: $colorActivate;
            border: solid 1px $colorActivate;
            width: 100%;
        }
        & #deactivatePrestation {
            background-color: $colorDeactivate;
            border: solid 1px $colorDeactivate;
            width: 100%;
        }
        & #deletePrestation {
            background-color: $colorDelete;
            border:solid 1px $colorDelete;
            width: 100%;
        }
        &:hover {
            & .detailsPrestations,
            .detailsPrestationsCateg,
            .grid_item_pres_tab,
            .detailsPrestationsPrix,
            .detailsPrestationsQuantite {
                filter: brightness(20%);
                -webkit-filter: brightness(20%);
                -moz-filter: brightness(20%);
                -o-filter: brightness(20%);
                -ms-filter: brightness(20%);
                background-color: $colorWhite;
            }
            & a {
                visibility: visible;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.grid_item_pres {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
    & img {
        width: 100%;
        height: 100%;
    }
}

.tri {
    width: 40%;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.triCat {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    & p {
        padding-left: 10px;
        font-size: 22pt;
        font-weight: bold;
    }
    & #triSelectCat {
        height: 100%;
    }
}

#triSelect,
#triSelectCat {
    width: 150px;
    color: $colorSelect;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    background: $backgroundSelect;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

.select,
.selectCat {
    margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
    .grid_container_prestations {
        grid-template-columns: repeat(3, 1fr);
    }
    .tri {
        width: 100%;
    }
    .triCat {
        & p {
            padding-left: 10px;
            font-size: 19pt;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 500px) {
    .grid_container_prestations {
        grid-template-columns: 1fr 1fr;
    }
    .tri {
        width: 100%;
    }
    .select {
        width: 75%;
    }
    #triSelect {
        width: 75%;
    }
    .triCat {
        & p {
            padding-left: 10px;
            font-size: 19pt;
            font-weight: bold;
        }
    }
}