$borderBuyColor: black !default;
$crossColor: red !default;
$borderColor: grey !default;
$colorWhite: white !default;
.container_buy {
    display: flex;
    & .formActuBox {
        margin: auto;
        width: fit-content;
    }
    & .buyBar {
        border-left: solid 1px $borderBuyColor;
        border-top: solid 1px $borderBuyColor;
    }
    & .grid_container_buy {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 30%;
        & p {
            width: 100%;
        }
        & .cross {
            color: $crossColor;
            cursor: pointer;
        }
    }
    & .grid_container_prestations_buy {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 10px;
        & .tabPrestations {
            box-sizing: border-box;
            border: $borderColor solid 2px;
            position: relative;
            overflow: hidden;
            border-radius: 5%;
            cursor: pointer;
            & .detailsPrestationsId {
                display: none;
            }
            & .addButton_buy {
                color: $colorWhite;
                visibility: hidden;
                font-size: 2em;
                position: absolute;
                top: calc( 50% - 0.5em);
                left: calc( 50% - 0.5em);
            }
            & a {
                visibility: hidden;
                color: $colorWhite;
                font-size: 1em;
                position: absolute;
                top: calc( 10% - 0.5em);
                width: 100%;
                text-align: center;
            }
            &:hover {
                & .detailsPrestations,
                .detailsPrestationsCateg,
                .grid_item_pres,
                .detailsPrestationsPrix {
                    text-align: center;
                    filter: brightness(20%);
                    -webkit-filter: brightness(20%);
                    -moz-filter: brightness(20%);
                    -o-filter: brightness(20%);
                    -ms-filter: brightness(20%);
                    background-color: $colorWhite;
                }
                & .addButton_buy {
                    visibility: visible;
                }
                & a {
                    visibility: visible;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            & .detailsPrestations,
            .detailsPrestationsCateg,
            .detailsPrestationsPrix,
            {
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }
            & .detailsPrestationsPrix {
                padding-bottom: 10px;
            }
            & .grid_item_pres {
                box-sizing: border-box;
                padding: 10px;
                width: 100%;
                height: 200px;
                & img {
                    border: $borderColor solid 2px;
                    width: 100%;
                    height: 100%;
                    border-radius: 5%;
                }
            }
        }
    }
    @media only screen and (max-width: 850px) {
        flex-direction: column;
        .grid_container_prestations_buy {
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }
        .grid_container_buy {
            width: 100%;
        }
    }
}