$backgColor: lighten(cyan, 60%) !default;
$fontColor: darken(#303030, 20%) !default;
$descrColor: grey !default;
$colorBlack: black !default;
$backgroundBoutton: #f5f5f5 !default;
$colorBorderBoutton: #ccc !default;
$colorBoxShadow: #999 !default;
$colorRed: red !default;
body {
    background-color: $backgColor;
    width: 100%;
    margin: 0;
}

hr {
    background: $descrColor;
    border-color: $descrColor;
    margin-top: 20px;
    margin-bottom: 20px;
}

p,
div {
    font-size: 16pt;
    color: $fontColor;
}

a {
    text-decoration: none;
    color: $colorBlack;
}

h2 {
    font-size: 20pt;
    font-weight: bold;
    color: $fontColor;
    text-align: justify;
    width: 90%;
    margin: auto;
}

footer {
    font-size: 15px;
    color: $fontColor;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.main_container {
    width: 70%;
    margin: auto;
    word-break: break-word;
    & h2 {
        text-align: center;
    }
    @media only screen and (max-width: 1250px) {
        width: 80%;
    }
    @media only screen and (max-width: 850px) {
        width: 95%;
    }
}

.boutton {
    cursor: pointer;
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background: $backgroundBoutton;
    color: $colorBlack;
    border-radius: 2px;
    width: 150px;
    border: 1px solid $colorBorderBoutton;
    box-shadow: 1px 1px 3px $colorBoxShadow;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.boxDivError {
    text-align: center;
    padding: 25px;
    margin: auto;
    border: solid 2px $colorBlack;
    & h2 {
        text-align: center;
        color: $colorRed;
    }
}