header{
    width: 100%;
    margin:0;
    background-color:darken($backgColor,10%);
    & .container_header{
        width: 70%;
        margin:auto;
        word-wrap: break-word;
        & a{
            text-decoration: none;
        }
    
        & .homeButton{
            color:$fontColor;
            font-size: 2em;
        }
    
        & .pres_header{
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            width:fit-content;
            text-align:center;
    
            & h1{
                font-size: 40pt;
                font-weight: bold;
                color: $fontColor;
            }
       
            & .descr_header{
                color: $descrColor;
            }
        }
    
        & .list_grid_account {
            display: flex;
            & li{
                padding: 15px;
                text-decoration: underline;
                color:$fontColor;
                &:first-child{
                    padding-left:0;
                    text-decoration: none;
                }
                &:nth-child(2){
                    margin-left: auto;
                }
                &:last-child{
                    padding-right: 0;
                }
            }
           
        }

        & .list_grid_menu {
            display: flex;
            justify-content: left;
            & li{
                padding-left:15px;
                text-decoration: underline;
                align-self: flex-end;
                & a{
                    color: $descrColor;
                }
            }
        }
        
    }

    @media only screen and (max-width: 850px) {
        & .container_header{
            width: 95%;
            & .list_grid_account {
                & li:first-child{
                display: none;
                }
            }

        }
    }
    @media only screen and (max-width: 1250px) {
        & .container_header{
            width: 80%;
        }
    }
    @media only screen and (max-width: 500px) {
        & .container_header{
            & .list_grid_account {
                justify-content : space-between;
                & li:nth-child(2){
                    margin-left: 0;
                    padding-left:0; 
                }
            }
            & .list_grid_menu{
                justify-content: space-between;
                & li{
                    width: 4.1em;
                }
            }  
        }
    }
}