header{
    width: 100%;
    margin:0;
    background-color:darken($backgColor,10%);
    & .container_header{
        width: 70%;
        margin:auto;
        & a{
            text-decoration: none;
            color:$fontColor;
        }
    
        & .homeButton{
            color:$fontColor;
            font-size: 2em;
        }
    
        & .pres_header{
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            width:fit-content;
            text-align:center;
    
            & h1{
                font-size: 40pt;
                font-weight: bold;
                color: $fontColor;
            }
       
            & .descr_header{
                color: $descrColor;
            }
        }
    
        & .list_grid {
            display: flex;
            & li{
                padding: 15px;
                text-decoration: underline;
                color:$fontColor;
                &:first-child{
                    padding-left:0;
                    text-decoration: none;
                }
                &:nth-child(2){
                    margin-left: auto;
                }
                &:last-child{
                    padding-right: 0;
                }
            }
           
        }
        
    }

    @media only screen and (max-width: 850px) {
        & .container_header{
            width: 95%;
            & .list_grid {
                & li:first-child{
                display: none;
                }
            & li{
                font-weight: initial;
            }
        }
        
    }
}
}