.modifMembre{
    display : none;
    width: 30%;
}

.formMembre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin : 10px;
    & input{
        width: 45%;
        margin-bottom : 5px;
    }
    & label{
        width: 45%;
        margin-bottom : 5px;
    }
}

.myaccount{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.infoMembre{
    width: 30%;
    & h2{
        margin-bottom: 10px;
    }
    & .buttonAccount{
        margin-top: 10px;
    }
}