.mainPay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    
}

.pay{
    width: 60%;
    align-self: center;
    & h2{
        margin-bottom: 15px;
    }
}

.infoPay{
    padding: 50px;
    border: solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .formPay{
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        & input{
            width: 50%;
            margin: auto;
            margin-top: 5px;
        }
    }
    & .buttonPay{
        width: 30%;
        margin: auto;
        padding: 5px;
        margin-top: 10px;
    }
}

.coffret{
    text-align: center;
    & .containBox{
    height: 450px;
    width: 250px;
    overflow-y: scroll;
    
.itemPay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    & p{
        margin: auto;
    }
}
}

}
@media only screen and (max-width: 850px) {
    .pay{
        width : 100%;
    }

    .mainPay{
        flex-direction: column;
    }
    .coffret{
        border-bottom:grey solid 2px;
        padding-bottom:20px;
    & .containBox{
        margin : auto;
        }
    }
}