.flex_prestation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    & .imgPrestation {
        & img {
            width: 375px;
            height: auto;
        }
    }
    & .flex_detailsPrestation {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        padding-left: 5px;
        justify-content: space-evenly;
        align-items: stretch;
        & .nomPrestation {
            font-size: 18pt;
            font-weight: bold;
        }
        & div {
            font-size: 13pt;
        }
    }
}

@media only screen and (max-width: 850px) {
    .flex_prestation {
        & .imgPrestation {
            & img {
                width: 275px;
                height: auto;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .flex_prestation {
        & .imgPrestation {
            & img {
                width: 175px;
                height: auto;
            }
        }
    }
}