$backgColor: lighten(cyan, 60%);
$fontColor: darken(#303030, 20%);
$descrColor: grey;
$colorActivate: #0dff15;
$colorDeactivate: #ff110d;
$colorDelete: #ff6f00;
$colorWhite: white;
$backgroundSelect: #f5f5f5;
$colorSelect: #555;