<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}

	<div class="main_container">
		<div class="screen">
			<div class="boutton">
				<a href="AddPrestation">Ajouter une prestation</a>
			</div>
			<div class="boutton">
				<a href="DeletePrestation">Supprimer une prestation</a>
			</div>
			<div class="boutton">
				<a href="DeactivateReactivatePrestation">Désactiver/Réactiver une prestation</a>
			</div>
		</div>
    </div>

</body>
</html>