<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
    <div class="boxDivError">
        <h2>Désolé, seul le membre possédant cette boite y à accès</h2>
    </div>
    </div>
    </hr>
</body>
</html>