<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
       {% include 'PrestationCatView.html.twig' %}
    </div>
	<script type="text/javascript" src="{{base_url()}}/js/catalog.js"></script>
</body>
</html>