<!DOCTYPE html>
<html>
{% include 'HeadView.html.twig' %} 
<body>

	{% include 'HeaderViewAuthentifiate.html.twig' %} 
	<div class="main_container">
        <h2> Se connecter </h2>
        <div class ="screen">
		<form class="formMenu" action="" method="post">
            	<label for="email" id="labelemail"></label>
            	<input type="text" name="email" id="email" placeholder="Email..."/>
        	</p>
			<p>
            	<label for="mdp" id="labelmdp"></label>
            	<input type="password" name="mdp" id="mdp"placeholder="Mot de passe..."/>
        	</p>
			<button type="submit" class="boutton">Valider</button>
			<br><br>
	 	</form>
         </div>
    </div> 

</body>
</html>