<!DOCTYPE html>
<html>
{# {% include 'GlobalHeaderView.html.twig' %} #}
<body>

<div class="screen">
		<form class="formMenu" action="" method="post">
			<p>
            	<label for="nom" id="labelnom"></label>
            	<input type="text" name="nom" id="nom" placeholder="Nom..."/>
        	</p>
            <p>
            	<label for="prenom" id="labelmdp"></label>
            	<input type="password" name="prenom" id="prenom" placeholder="Prénom..."/>
        	</p>
            <p>
            	<label for="email" id="labelemail"></label>
            	<input type="text" name="email" id="email" placeholder="Email..."/>
        	</p>
			<p>
            	<label for="mdp" id="labelmdp"></label>
            	<input type="password" name="mdp" id="mdp"placeholder="Mot de passe..."/>
        	</p>
			<button type="submit" class="bouttonBlack">Valider</button>
			<br><br>
	 	</form>
    </div> 
</body>
</html>