<!DOCTYPE html>
<html>
{% include 'HeadView.html.twig' %} 
<body>
<header>
	<div class="container_header">
		<div class="pres_header">
			<h1>MyGiftBox</h1>
		</div>
		<a class="homeButton fas fa-home" href="/PHP/MyGiftBox/"></a>
		<hr>
	</div>
</header>
<div class="main_container">
        <div class ="screen">
		<form class="formMenu" action="" method="post">
			<p>
            	<label for="nom" id="labelnom"></label>
            	<input type="text" name="nom" id="nom" placeholder="Nom..."/>
        	</p>
            <p>
            	<label for="prenom" id="labelmdp"></label>
            	<input type="text" name="prenom" id="prenom" placeholder="Prénom..."/>
        	</p>
            <p>
            	<label for="email" id="labelemail"></label>
            	<input type="text" name="email" id="email" placeholder="Email..."/>
        	</p>
			<p>
            	<label for="mdp" id="labelmdp"></label>
            	<input type="password" name="mdp" id="mdp"placeholder="Mot de passe..."/>
        	</p>
			<button type="submit" class="bouttonBlack">Valider</button>
			<br><br>
	 	</form>
         </div>
    </div> 
</body>
</html>