<!DOCTYPE html>
<html>
{% include 'HeadView.html.twig' %} 

<body>
{% include 'HeaderViewEdit.html.twig' %} 

 
		 <div class ="detailsPrestations">
            <p> {{nomCoffret}} </p>
            {% for values in img %}
			<div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{values[0]["img"]}}"/></div>
            {% endfor %}
            </div>

</body>

</html>