<!DOCTYPE html>
<html>
{% include 'HeadView.html.twig' %} 
<body>

   {% include 'HeaderView.html.twig' %}

    <div class="main_container">
        <div class="containerCreationBox">
            <h2>Modifiez votre coffret personnalisé</h2>

            <div class="form">
                <form class="formCreationBox" action="" method="post">
                    <input type="text" name="nameBox" placeholder="Nom du coffret"/>
                    <input type="text" name="messageBox" placeholder="Message de présentation"/>
                    <label>Date d'ouverture du coffret</label>
                    <input type="date" name="dateBox"/>

                    <button type="submit" class="boutton">Validez</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>