<!DOCTYPE html>
<html>
{% include 'HeadView.html.twig' %} 

<body>
{% include 'HeaderViewEdit.html.twig' %} 

 
		 <div class ="detailsPrestations">
		 

			<div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{img}}"/></div>
            </div>

</body>

</html>