<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
        <div class="boxDivError">
            <h2>{{message}}</h2>
        </div>
    </div>
    </hr>

</body>
</html>