<header>
	<div class="container_header">
		<nav class="nav_header">
			<ul class="list_grid">
				<li class="li">Bienvenue sur MyGiftBox</li>
				<li class="grid_item_header"><a href="">Se connecter</a></li>
				<li class="grid_item_header"><a href="">Créer un compte</a></li>
			</ul>
		</nav>
		<div class="pres_header">
			<h1>MyGiftBox</h1>
			<p class="descr_header">Concocter de fabuleux présents pour vos amis.</p>
		</div>
		<a class="homeButton fas fa-home" href="{{base_url()}}/"></a>
		<hr/>
	<div>
</header>