<header>
<div class="container_header">
		<nav class="nav_header_account">
			<ul class="list_grid_account">
				<li>Bienvenue sur MyGiftBox </li>
		</ul>
		</nav>
			<div class="pres_header">
			<h1>MyGiftBox</h1>
			
		</div>
		 <nav class="nav_menu">
		<a class="homeButton fas fa-home" href="{{base_url()}}/"></a>
        <li class="grid_item_header"><a href="{{base_url()}}/MyAccount">Mon Compte</a></li>
		</nav>
		<hr/>
	</div>
</header>