<header>
	<div class="container_header">
		<nav class="nav_header">
			<ul class="list_grid">
				{% if nomMembre == "" %}
				<li class="li">Bienvenue sur MyGiftBox </li>
				<li class="grid_item_header"><a href="{{base_url()}}/Connexion">Se connecter</a></li>
				<li class="grid_item_header"><a href="{{base_url()}}/CreateAccount">Créer un compte</a></li>
				{% else %}
				<li class="li">Bienvenue sur MyGiftBox {{nomMembre}}</li>
				<li class="grid_item_header"><a href="">Mon Compte</a></li>
				{% endif %}
			</ul>
		</nav>
		<div class="pres_header">
			<h1>MyGiftBox</h1>
			<p class="descr_header">Concocter de fabuleux présents pour vos amis.</p>
		</div>
		<a class="homeButton fas fa-home" href="{{base_url()}}/"></a>
		<hr/>
	<div>
</header>