<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}

	<div class="main_container">
        <h2> Vos derniers Coffrets</h2>
		 <div class ="contenu_coffret">
		 {% for values in variables %}
             <div class="nom_coffret">
			 {{values[0]}} 
			 </div>

				<div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{values[1]}}"/>
         {% endfor %} 
			</div>
		 
		
    </div>
</body>
</html>