<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../web/css/mygiftbox.css">
	<title>MyGiftBox</title>
</head>
<body>

	<header>
		<h1>MyGiftBox</h1>
		<p>Concocter de fabuleux présents pour vos amis.</p>
	</header>

</body>
</html>