<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}

    <div class="main_container">
        {{nomCoffret}}
        {{messageCoffret}}
        {{date}}
    </div>

</body>
</html>