<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

    {% include 'HeaderView.html.twig' %}

    <div class="main_container"
        <div class="infoMembre">
            <p>Mail : {{mail}}</p>
            <p>Nom :  {{nom}}</p>
            <p>Prénom : {{prenom}} </p>
        </div>
    </div
</body>
</html>