<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
    <div class="boxDivError">
        <h2>Désolé, seul les admins ont accés à cette page</h2>
    </div>
    </div>
    </hr>
</body>
</html>