html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: white;
  width: 100%;
  margin: 0;
}

hr {
  background: grey;
  border-color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

p,
div {
  font-size: 16pt;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 20pt;
  font-weight: bold;
  color: black;
  text-align: justify;
  width: 90%;
  margin: auto;
}

footer {
  font-size: 15px;
  color: black;
  width: 10%;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main_container {
  width: 70%;
  margin: auto;
  word-break: break-word;
}
.main_container h2 {
  text-align: center;
}
@media only screen and (max-width: 1250px) {
  .main_container {
    width: 80%;
  }
}
@media only screen and (max-width: 850px) {
  .main_container {
    width: 95%;
  }
}

.boutton {
  cursor: pointer;
  padding: 6px 0 6px 0;
  font: bold 13px Arial;
  background: #f5f5f5;
  color: black;
  border-radius: 2px;
  width: 150px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #999;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.boxDivError {
  text-align: center;
  padding: 25px;
  margin: auto;
  border: solid 2px black;
}
.boxDivError h2 {
  text-align: center;
  color: red;
}

header {
  width: 100%;
  margin: 0;
  background-color: #ccffff;
}
header .container_header {
  width: 70%;
  margin: auto;
  word-wrap: break-word;
}
header .container_header a {
  text-decoration: none;
}
header .container_header .homeButton {
  color: black;
  font-size: 2em;
}
header .container_header .pres_header {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: fit-content;
  text-align: center;
}
header .container_header .pres_header h1 {
  font-size: 40pt;
  font-weight: bold;
  color: black;
}
header .container_header .pres_header .descr_header {
  color: grey;
}
header .container_header .list_grid_account {
  display: flex;
}
header .container_header .list_grid_account li {
  padding: 15px;
  text-decoration: underline;
  color: black;
}
header .container_header .list_grid_account li:first-child {
  padding-left: 0;
  text-decoration: none;
}
header .container_header .list_grid_account li:nth-child(2) {
  margin-left: auto;
}
header .container_header .list_grid_account li:last-child {
  padding-right: 0;
}
header .container_header .list_grid_menu {
  display: flex;
  justify-content: left;
}
header .container_header .list_grid_menu li {
  margin-left: 45px;
  text-decoration: underline;
  align-self: flex-end;
}
header .container_header .list_grid_menu li a {
  color: grey;
}
@media only screen and (max-width: 1250px) {
  header .container_header {
    width: 80%;
  }
}
@media only screen and (max-width: 850px) {
  header .container_header {
    width: 95%;
  }
  header .container_header .list_grid_account li:first-child {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  header .container_header .list_grid_account {
    justify-content: space-between;
  }
  header .container_header .list_grid_account li:nth-child(2) {
    margin-left: 0;
    padding-left: 0;
  }
  header .container_header .list_grid_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  header .container_header .list_grid_menu li, header .container_header .list_grid_menu a {
    padding-top: 20px;
    margin-left: 0;
    align-self: center;
  }
}

.grid_container_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 20px;
}
.grid_container_item .grid_item {
  border: solid black;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
}
.grid_container_item .grid_item:nth-child(2n) {
  transform: rotate(2deg);
}
.grid_container_item .grid_item:nth-child(2n+1) {
  transform: rotate(-2deg);
}
.grid_container_item .grid_item img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 850px) {
  .grid_container_item {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_container_item .grid_item:nth-child(n+5) {
    display: none;
  }
}

/*FORMULAIRE*/
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid #5f5959;
  padding-bottom: 15px;
  padding-top: 15px;
}

.formMenu {
  text-align: center;
}

.choice {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 0;
  font: bold 13px Arial;
  border-radius: 2px;
}

@media screen and (max-width: 500px) {
  h2 {
    text-align: center;
  }

  .screen {
    text-align: center;
  }

  input {
    margin-bottom: 50px;
  }

  button {
    padding: 20px 10px 20px 10px;
  }
}
.containerCreationBox h2 {
  text-align: center;
  padding-bottom: 10px;
}
.containerCreationBox .form {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
  border: solid grey;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.containerCreationBox input {
  width: 150px;
  height: 25px;
  padding: 10px;
  margin: 10px;
}
.containerCreationBox label {
  font-size: 14pt;
  margin-top: 10px;
}
.formCreationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share_container {
  border: solid grey;
  word-wrap: break-word;
  padding: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main_containLinkBox {
  text-align: center;
  padding: 5%;
}
.main_containLinkBox .grid_item_link {
  margin: auto;
  width: 300px;
}
.main_containLinkBox .grid_item_link img {
  width: 100%;
}
.main_containLinkBox :first-child {
  text-align: center;
  margin-bottom: 10px;
}
.main_containLinkBox .formLinkBox {
  border: solid grey;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_containLinkBox .formLinkBox .msgRemerciement {
  width: 50%;
  height: 200px;
}
@media screen and (max-width: 500px) {
  .main_containLinkBox .grid_item_link {
    width: 80%;
  }
  .main_containLinkBox .formLinkBox .msgRemerciement {
    width: initial;
  }
}

#nomPrestation {
  font-weight: bold;
}

.grid_container_prestations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 25px;
}
.grid_container_prestations .tabPrestations {
  box-sizing: border-box;
  border: gray solid 2px;
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 5px;
  width: 100%;
}
.grid_container_prestations .tabPrestations .formEtatPrestation {
  display: flex;
}
.grid_container_prestations .tabPrestations .detailsPrestations,
.grid_container_prestations .tabPrestations .detailsPrestationsCateg,
.grid_container_prestations .tabPrestations .detailsPrestationsPrix {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.grid_container_prestations .tabPrestations .detailsPrestationsPrix {
  padding-bottom: 10px;
}
.grid_container_prestations .tabPrestations .grid_item_pres_tab {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 200px;
}
.grid_container_prestations .tabPrestations .grid_item_pres_tab img {
  border: gray solid 2px;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.grid_container_prestations .tabPrestations a {
  visibility: hidden;
  color: white;
  font-size: 1em;
  position: absolute;
  top: calc( 10% - 0.5em);
  width: 100%;
  text-align: center;
}
.grid_container_prestations .tabPrestations button {
  cursor: pointer;
}
.grid_container_prestations .tabPrestations button i {
  color: white;
}
.grid_container_prestations .tabPrestations #activatePrestation {
  background-color: #0dff15;
  border: #0dff15 solid 1px;
  width: 100%;
}
.grid_container_prestations .tabPrestations #deactivatePrestation {
  background-color: #ff110d;
  border: #ff110d solid 1px;
  width: 100%;
}
.grid_container_prestations .tabPrestations #deletePrestation {
  background-color: #ff6f00;
  border: #ff6f00 solid 1px;
  width: 100%;
}
.grid_container_prestations .tabPrestations:hover .detailsPrestations,
.grid_container_prestations .tabPrestations:hover .detailsPrestationsCateg,
.grid_container_prestations .tabPrestations:hover .grid_item_pres_tab,
.grid_container_prestations .tabPrestations:hover .detailsPrestationsPrix {
  text-align: center;
  filter: brightness(20%);
  -webkit-filter: brightness(20%);
  -moz-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  background-color: white;
}
.grid_container_prestations .tabPrestations:hover a {
  visibility: visible;
}
.grid_container_prestations .tabPrestations:hover a:hover {
  text-decoration: underline;
}

.grid_item_pres {
  width: 200px;
  height: 200px;
  padding-bottom: 10px;
}
.grid_item_pres img {
  width: 100%;
  height: 100%;
}

.tri {
  width: 40%;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.triCat {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.triCat p {
  padding-left: 10px;
  font-size: 22pt;
  font-weight: bold;
}
.triCat #triSelectCat {
  height: 100%;
}

#triSelect,
#triSelectCat {
  width: 150px;
  color: #555;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  background: #f5f5f5;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

.select,
.selectCat {
  margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
  .grid_container_prestations {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid_item_pres {
    width: 100%;
    height: 200px;
  }

  .tri {
    width: 100%;
  }

  .triCat p {
    padding-left: 10px;
    font-size: 19pt;
    font-weight: bold;
  }
}
@media only screen and (max-width: 500px) {
  .grid_container_prestations {
    grid-template-columns: 1fr 1fr;
  }

  .grid_item_pres {
    width: 100%;
    height: 200px;
  }

  .tri {
    width: 100%;
  }

  .select {
    width: 75%;
  }

  #triSelect {
    width: 75%;
  }

  .triCat p {
    padding-left: 10px;
    font-size: 19pt;
    font-weight: bold;
  }
}
.container_buy {
  display: flex;
}
.container_buy .formActuBox {
  margin: auto;
  width: fit-content;
}
.container_buy .buyBar {
  border-left: solid 1px black;
  border-top: solid 1px black;
}
.container_buy .grid_container_buy {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
}
.container_buy .grid_container_buy p {
  width: 100%;
}
.container_buy .grid_container_buy .cross {
  color: red;
  float: right;
  cursor: pointer;
}
.container_buy .grid_container_prestations_buy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 10px;
}
.container_buy .grid_container_prestations_buy .tabPrestations {
  box-sizing: border-box;
  border: gray solid 2px;
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  cursor: pointer;
}
.container_buy .grid_container_prestations_buy .tabPrestations .detailsPrestationsId {
  display: none;
}
.container_buy .grid_container_prestations_buy .tabPrestations .addButton_buy {
  color: white;
  visibility: hidden;
  font-size: 2em;
  position: absolute;
  top: calc( 50% - 0.5em);
  left: calc( 50% - 0.5em);
}
.container_buy .grid_container_prestations_buy .tabPrestations a {
  visibility: hidden;
  color: white;
  font-size: 1em;
  position: absolute;
  top: calc( 10% - 0.5em);
  width: 100%;
  text-align: center;
}
.container_buy .grid_container_prestations_buy .tabPrestations:hover .detailsPrestations,
.container_buy .grid_container_prestations_buy .tabPrestations:hover .detailsPrestationsCateg,
.container_buy .grid_container_prestations_buy .tabPrestations:hover .grid_item_pres,
.container_buy .grid_container_prestations_buy .tabPrestations:hover .detailsPrestationsPrix {
  text-align: center;
  filter: brightness(20%);
  -webkit-filter: brightness(20%);
  -moz-filter: brightness(20%);
  -o-filter: brightness(20%);
  -ms-filter: brightness(20%);
  background-color: white;
}
.container_buy .grid_container_prestations_buy .tabPrestations:hover .addButton_buy {
  visibility: visible;
}
.container_buy .grid_container_prestations_buy .tabPrestations:hover a {
  visibility: visible;
}
.container_buy .grid_container_prestations_buy .tabPrestations:hover a:hover {
  text-decoration: underline;
}
.container_buy .grid_container_prestations_buy .tabPrestations .detailsPrestations,
.container_buy .grid_container_prestations_buy .tabPrestations .detailsPrestationsCateg,
.container_buy .grid_container_prestations_buy .tabPrestations .detailsPrestationsPrix {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.container_buy .grid_container_prestations_buy .tabPrestations .detailsPrestationsPrix {
  padding-bottom: 10px;
}
.container_buy .grid_container_prestations_buy .tabPrestations .grid_item_pres {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 200px;
}
.container_buy .grid_container_prestations_buy .tabPrestations .grid_item_pres img {
  border: gray solid 2px;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
@media only screen and (max-width: 850px) {
  .container_buy {
    flex-direction: column;
  }
  .container_buy .grid_container_prestations_buy {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .container_buy .grid_container_buy {
    width: 100%;
  }
}

.flex_prestation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex_prestation .imgPrestation img {
  width: 375px;
  height: auto;
}
.flex_prestation .flex_detailsPrestation {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 5px;
  justify-content: space-evenly;
  align-items: stretch;
}
.flex_prestation .flex_detailsPrestation .nomPrestation {
  font-size: 18pt;
  font-weight: bold;
}
.flex_prestation .flex_detailsPrestation div {
  font-size: 13pt;
}

@media only screen and (max-width: 850px) {
  .flex_prestation .imgPrestation img {
    width: 275px;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .flex_prestation .imgPrestation img {
    width: 175px;
    height: auto;
  }
}
.myaccount {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (max-width: 850px) {
  .myaccount {
    flex-direction: column;
    justify-content: initial;
  }
  .myaccount .infoMembre {
    margin-left: auto;
    margin-right: auto;
  }
  .myaccount .modifMembre {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
.myaccount .modifMembre {
  display: none;
  width: 40%;
}
.myaccount .modifMembre h2 {
  margin-left: 0;
}
.myaccount .modifMembre .formMembre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.myaccount .modifMembre .formMembre input {
  width: 49%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  padding: 0;
}
.myaccount .modifMembre .formMembre label {
  width: 49%;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  margin-bottom: 5px;
  padding: 0;
}
.myaccount .infoMembre {
  width: max-content;
}
.myaccount .infoMembre h2 {
  margin-left: 0;
  margin-bottom: 10px;
}
.myaccount .infoMembre .buttonAccount {
  margin-top: 10px;
}

.mainPay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.pay {
  width: 60%;
  align-self: center;
}
.pay h2 {
  margin-bottom: 15px;
}

.infoPay {
  padding: 50px;
  border: solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoPay .formPay {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.infoPay .formPay input {
  width: 50%;
  margin: auto;
  margin-top: 5px;
}
.infoPay .buttonPay {
  width: 30%;
  margin: auto;
  padding: 5px;
  margin-top: 10px;
}

.coffret {
  text-align: center;
}
.coffret .containBox {
  height: 450px;
  width: 250px;
  overflow-y: scroll;
}
.coffret .containBox .itemPay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.coffret .containBox .itemPay p {
  margin: auto;
}

@media only screen and (max-width: 850px) {
  .pay {
    width: 100%;
  }

  .mainPay {
    flex-direction: column;
  }

  .coffret {
    border-bottom: grey solid 2px;
    padding-bottom: 20px;
  }
  .coffret .containBox {
    margin: auto;
  }
}
.containerCreationPrestation h2 {
  text-align: center;
  margin-bottom: 20px;
}
.containerCreationPrestation .form {
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
  border: solid grey;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.containerCreationPrestation input {
  width: 100%;
  height: 25px;
  padding: 10px;
  margin: 10px;
}
.containerCreationPrestation label {
  width: 100%;
  font-size: 14pt;
  margin-top: 10px;
}
.containerCreationPrestation .triCateg {
  margin-top: 10px;
}

.formCreationPrestation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_container_homeConnect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 25px;
}
.grid_container_homeConnect .grid_box_pres {
  margin: auto;
  width: 80%;
  height: 200px;
}
.grid_container_homeConnect .grid_box_pres img {
  height: 200px;
  width: 100%;
}
.grid_container_homeConnect .detailsBox {
  display: flex;
  flex-direction: column;
}
.grid_container_homeConnect .detailsBox p, .grid_container_homeConnect .detailsBox button {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 850px) {
  .grid_container_homeConnect {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .grid_container_homeConnect {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  .grid_container_homeConnect {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/*# sourceMappingURL=mygiftbox.css.map */
